[Desktop Entry]
Type=Service
MimeType=all/allfiles;inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=InternxtCopyLink;
X-KDE-Submenu=Internxt Drive
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false

[Desktop Action InternxtCopyLink]
Name=Copy Internxt Link
Icon=insert-link
Exec=/usr/bin/env bash -lc '"$HOME/.local/share/internxt-dolphin-extension/internxt-dolphin-actions.sh" copy-link "$@"' _ %F
